# ---- OS / 편집기 잡파일 ----
.DS_Store
Thumbs.db

# VSCode
.vscode/
.history/

# macOS
*.swp
*~

# ---- 빌드 산출물 ----
build/
*/build/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
install_manifest.txt

# 컴파일 결과물
*.o
*.obj
*.lo
*.la
*.a
*.so
*.dylib
*.dll
*.exe
*.out
*.app
*.log

# 기타 툴 캐시
.cache/
.ipynb_checkpoints/
